.pedometer-wrapper {
  background: #000;
  color: #FFF;
  text-align: center;
}
.pedometer-wrapper .pedo-button button {
  width: 90%;
  margin: 0.5em;
  height: 4em;
  font-size: 2em;
}
.pedometer-wrapper .counters {
  margin: 0 auto;
}
.pedometer-wrapper .counters .counter-wrapper {
  margin: 0.25em 0.5em;
  background: #FFF;
  display: inline-block;
}
.pedometer-wrapper .counters .counter-wrapper .counter {
  color: #000;
  margin: 0.5em 0.25em;
}
