<?xml version='1.0' encoding='utf-8'?>
<widget id="io.okhealth.healthandfitness" version="0.0.1">
    <name>Health &amp; Fitness</name>
    
    <description>
        An app designed to improve the health of Oklahomans.
    </description>
    
    <author email="ashinpaugh@gmail.com" href="http://moop.ly">
        Austin Shinpaugh
    </author>
    
    <content src="index.html" />
    <access origin="*" />
    <!--
    <access origin="geo:*" launch-external="yes" />
    -->
    
    <preference name="loglevel" value="DEBUG" />
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="AndroidLaunchMode" value="singleTop" />
    
    <feature name="App">
        <param name="android-package" value="org.apache.cordova.App" />
    </feature>
    
    <feature name="InAppBrowser">
        <param name="android-package" value="org.apache.cordova.inappbrowser" />
    </feature>
    
    <icon src="resources/images/icons/icon_36.png" density="ldpi"  width="36" height="36" />
    <icon src="resources/images/icons/icon_48.png" density="mdpi"  width="48" height="48" />
    <icon src="resources/images/icons/icon_72.png" density="hdpi"  width="72" height="72" />
    <icon src="resources/images/icons/icon_96.png" density="xhdpi" width="96" height="96" />
</widget>
