<form class="login-wrapper" name="credentials">
    <div class="message-wrapper warning well-sm" ng-hide="!message">
        {{message}}
    </div>
    
    <div>
        <label for="username" class="sr-only">Username</label>
        <input id="username" type="text" class="form-control" placeholder="Username" ng-model="credentials.username" />
        
        <label for="password" class="sr-only">Password</label>
        <input id="password" type="text" class="form-control" placeholder="Password" ng-model="credentials.password" />
        
        <div class="actions">
            <button type="submit" class="btn btn-block btn-primary" ng-click="doLogin(this)">
                Login
            </button>
            
            <a class="btn btn-block btn-info" ng-href="#/account/register">Register</a>
        </div>
    </div>
</form>
