<div ng-controller="TobaccoCtrl" class="tobacco-wrapper">
    <ul class="resources">
        <li class="resource well">
            <h4>Oklahoma Tobacco Helpline</h4>
            <div class="row">
                <h5 class="col-xs-6">
                    <a href="tel: 18007848669">
                        1-800 - QUIT NOW
                    </a>
                </h5>
                
                <h5 class="col-xs-6">
                    <a href="http://www.okhelpline.com">
                        okhelpline.com
                    </a>
                </h5>
            </div>
        </li>
    </ul>
</div> 