<div class="board-wrapper" ng-controller="BoardCtrl">
    <app-nav-top></app-nav-top>
    
    <ul class="board-list list">
        <li class="board-list-headers">
            <div class="row">
                <div class="col-xs-4" ng-click="ToggleSort('username'); SortByProperty(null, 'username', 'display_name');">
                    <h5>Username</h5>
                </div>
                
                <div class="col-xs-4" ng-click="ToggleSort('school'); SortByProperty(null, 'school', 'school_initials');">
                    <h5>School</h5>
                </div>
                
                <div class="col-xs-4" ng-click="ToggleSort('points'); SortByProperty(null, 'points', 'total_points');">
                    <h5>Points</h5>
                </div>
            </div>
            
            <hr/>
        </li>
        
        <board-user-item></board-user-item>
    </ul>
    
    <loader></loader>
</div>