<div ng-controller="MarketCtrl" class="market-wrapper">
    <form name="frm" role="form" ng-submit="doSearch()" class="search-input">
        <label for="zip" class="sr-only">Enter Zip Code:</label>
        <input id   = "zip"
               name = "zip"
               type = "text"
               placeholder = "Enter a zip code.."
               ng-model    = "query"
        />
    
        <button name="zipSubmit" class="well-sm" type="submit">Submit</button>
    </form>
    
    <div class="search-results" ng-show="resultSet.length > 0">
        <h4>Results</h4>
        
        <ul class="results well">
            <li class="result" ng-repeat="mkt in resultSet" ng-class-even="'list-alt'">
                <div class="title-wrapper row" ng-click="mkt.show_details = !mkt.show_details" ng-init="mkt.show_details = false">
                    <div class="distance col-xs-2">
                        {{mkt.distance}} mi
                    </div>
                    
                    <div class="name col-xs-9">
                        <h5>{{mkt.marketname}}</h5>
                    </div>
                    
                    <div class="arrow col-xs-1">
                        <span class="fa fa-arrow-right" ng-class="{'fa-arrow-right': !mkt.show_details, 'fa-arrow-down': mkt.show_details}"></span>
                    </div>
                </div>
                
                <div class="additional-details" ng-show="mkt.show_details"> <!--ng-init="times = mkt.Schedule.split(';')" -->
                    <div class="schedule" ng-if="mkt.Schedule" ng-repeat="(key, value) in times" ng-init="times = mkt.Schedule.split(';')">
                        {{value | StripTags}}
                        
                    </div>
                    
                    <div class="products row" ng-if="mkt.Products.trim().length">
                        <div class="col-xs-offset-1"></div>
                        <div class="col-xs-2">
                            Products
                        </div>
                        <div class="col-xs-9">{{mkt.Products}}</div>
                    </div>
                    
                    <div class="address row">
                        <div class="col-xs-offset-1"></div>
                        <div class="col-xs-2">
                            Address
                        </div>
                        <div class="col-xs-9">
                            <a onclick="OpenMap(mkt);">
                                {{mkt.Address}}
                            </a>
                        </div>
                    </div>
                    
                    <!--
                    <div class="google">
                        {{mkt.GoogleLink}}
                    </div>
                    -->
                </div>
            </li>
        </ul>
    </div>
    
    <div class="syf-loader text-center" ng-hide="!isSearching">
        <div class="fa fa-circle-o-notch fa-spin fa-5x"></div>
    </div>
</div>
