<div ng-controller="MarketCtrl" class="market-wrapper">
    <form name="frm" role="form" ng-submit="doSearch()">
        <label for="zip" class="sr-only">Enter Zip Code:</label>
        <input id   = "zip"
               name = "zip"
               type = "text"
               placeholder = "Enter a zip code.."
               ng-keydown  = "watchKeys($event)"
               ng-model    = "query"
        />
    
        <button name="zipSubmit" type="submit">Submit</button>
    </form>
    
    <div class="search-results well">
        <h4 ng-show="resultSet.length > 0">Results</h4>
        
        <ul class="results">
            <li class="result" ng-repeat="mkt in resultSet" ng-class-even="'list-alt'">
                <div class="title-wrapper row">
                    <div class="distance col-xs-2">
                        {{mkt.distance}} mi
                    </div>
                    
                    <div class="name col-xs-9">
                        <h5>{{mkt.marketname}}</h5>
                    </div>
                    
                    <div class="arrow col-xs-1">
                        <span class="fa fa-arrow-right"></span>
                    </div>
                </div>
                
                <div class="additional-details" ng-init="times = mkt.Schedule.split(';')">
                    <div class="schedule" ng-if="mkt.Schedule" ng-repeat="time in times">
                        {{time | StripTags}}
                    </div>
                    
                    <div class="products">
                        {{mkt.Products}}
                    </div>
                    
                    <div class="address">
                        {{mkt.Address}}
                    </div>
                    
                    <div class="google">
                        {{mkt.GoogleLink}}
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<!--

Address
	"2800 N Lincoln Blvd., Ok...a City, Oklahoma, 73105"
	
GoogleLink
	"http://maps.google.com/?...FF)+Farmers'+Market%22)"
	
Products
	"Cheese and/or dairy prod... immediate consumption)"
	
Schedule
	"January to December Tue:12:00 PM - 5:30 PM; "
	
distance
	"1.8"
	
id
	1001389
	
marketname
	"Oklahoma Dept. of Agricu...ODAFF) Farmers' Market "

-->