<nav class="navbar app-nav" role="navigation">
    <ul class="nav navbar-nav">
        <li class="row hist-traversal">
            <a href="#" class="col-xs-6">
                <span class="fa fa-arrow-left"></span>
                back
            </a>
            
            <a href="#" class="col-xs-6 disabled">
                <span class="fa fa-arrow-right"></span>
                forward
            </a>
        </li>
        
        <li>
            <a href="#/login">
                <span class="fa fa-user"></span>
                Login
            </a>
        </li>
        
        <li>
            <a href="#/settings">
                <span class="fa fa-cog"></span>
                Settings
            </a>
        </li>
    </ul>
</nav>