.pedometer-wrapper {
  background: #000;
  color: #FFF;
  text-align: center;
  
  .pedo-button button {
    width: 90%;
    margin: 0.5em;
    height: 4em;
    font-size: 2em;
  }
  
  .counter-wrapper {
    width: 20%;
    background: #FFF;
    
    .counter {
      color: #000;
      margin: 1em 0.5em;
      font-size: 5em;
    }
  }
}

