<div class="link-utility-grouping" ng-controller="LocationCtrl">
    <nav class="navbar" role="navigation">
        <ul class="nav navbar-default exercise-links">
            <li class="row">
                <a href="#/nutrition/lookup" class="col-xs-12">
                    Lookup Food
                </a>
            </li>
            
            <li class="row">
                <a href="#/history/nutrition" class="col-xs-12">
                    Calorie History
                </a>
            </li>
        </ul>
    </nav>
</div>