<div ng-controller="NutritionCtrl" class="nutrition-wrapper">
    <div ng-hide="!userError" class="error-wrapper bg-warning">
        <span ng-hide="userError != 1">
            Invalid input! Please enter something into the search field.
        </span>
        
        <span ng-hide="userError != 2">
            Invalid input! Please only enter letters into the search field.
        </span>
    </div>
    
    <!--
    <form class="search-input">
        <label class="sr-only" for="nutrition-search">Search</label>
        <input ng-model="search" id="nutrition-search" type="text" placeholder="Lookup Ingredients - (i.e. 'chicken')" />
        
        <button class="well-sm" ng-click="doLookup()">Search</button>
    </form>
    -->
    
    <form class="form-inline form-search">
        <div class="form-group">
            <!--
            <div class="row">
                <div class="col-xs-10">
                    
                </div>
                
                
                <div class="col-xs-2">
                    <button class="btn btn-sm btn-primary" ng-click="doLookup()">Search</button>
                </div>
            </div>
            -->
            
            <label class="sr-only" for="nutrition-search">Search</label>
            <input ng-model="search" class="form-control" id="nutrition-search" type="text" placeholder="Lookup Food - (i.e. 'chicken')" ng-keypress="$event.keyCode == 13 ? doLookup() : void();" />
        </div>
    </form>
    
    <div class="search-results">
        <h4 ng-hide="!resultSet && !isSearching">Results</h4>
        
        <ul class="results well" ng-hide="!resultSet">
            <li class="row result swipe-able" ng-repeat="food in resultSet" ng-class-even="'list-alt'">
                <div class="col-xs-12" ng-init="food.closed = true; food.swiping = false; food.show_add = false;">
                    <div class="row item-display" ng-swipe-right="food.swiping = true; food.show_add = true;" ng-swipe-left="food.swiping = true; food.show_add = false;">
                        <div class="col-xs-2 food-eaten-wrapper" ng-show="food.show_add">
                            <button type="button" class="btn btn-sm btn-info"    ng-if="!HasEaten(food)" ng-click="AddToEaten($event, food)">Add</button>
                            <button type="button" class="btn btn-sm btn-success" ng-if="HasEaten(food)">Added!</button>
                        </div>
                        
                        <!--
                        <div class="name-wrapper" ng-click="food.closed = !food.closed" ng-class="{'col-xs-12': !food.has_swiped, 'col-xs-10': food.has_swiped}">
                            <h4 class="col-xs-11">{{food.name}} <span ng-hide="food.closed">{{food.name_meta}}</span></h4>
                            <span class="col-xs-1 fa" ng-class="{'fa-arrow-right': food.closed, 'fa-arrow-down': !food.closed}"></span>
                        </div>
                        -->
                        
                        <!---->
                        <div class="name-wrapper" ng-click="food.swiping = false;" ng-mouseup="food.closed = food.swiping ? food.closed : !food.closed" ng-class="{'col-xs-10': !food.show_add, 'col-xs-8': food.show_add}">
                            <h4>
                                {{food.name}} <span ng-hide="food.closed">{{food.name_meta}}</span>
                            </h4>
                        </div>
                        
                        <div class="col-xs-2 arrow-wrapper">
                            <span class="fa" ng-class="{'fa-arrow-right': food.closed, 'fa-arrow-down': !food.closed}"></span>
                        </div>
                    </div>
                    
                    <div class="additional-details" ng-hide="food.closed">
                        <div class="meta-wrapper row">
                            <div class="meta col-xs-3" ng-repeat="meta in food.meta" ng-init="item = meta.split(':')">
                                <div>{{item[0].trim()}}</div>
                                <div>{{item[1].trim()}}</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row food-actions" ng-hide="food.closed">
                        <div class="col-xs-6" ng-init="food.hide_servings = true;">
                            <a ng-click="GetFood(food);" class="btn btn-sm btn-default" ng-show="!food.servings">
                                Portions and Details
                            </a>
                            
                            <a ng-mouseup="food.hide_servings = !food.hide_servings;" ng-hide="!food.servings" class="toggle btn btn-sm btn-default">
                                <span ng-show="!food.hide_servings">Hide Servings</span>
                                <span ng-show="food.hide_servings">Show Servings</span>
                            </a>
                            
                            <!--
                            <a ng-click="food.hide_servings = false;" ng-hide="!food.servings || !food.hide_servings" class="toggle btn btn-default">
                                Show Servings
                            </a>
                            -->
                        </div>
                        
                        <div class="col-xs-6">
                            <a href="{{food.food_url}}" class="btn btn-sm btn-default">
                                <span class="fa fa-external-link"></span>
                                <span>More Info</span>
                            </a>
                        </div>
                    </div>
                    
                    <div class="servings-wrapper" ng-hide="food.closed || food.hide_servings">
                        <ul id="servings-{{food.food_id}}" class="servings" ng-hide="!food.servings || food.hide_servings">
                            <li class="headings row">
                                <div class="col-xs-5">
                                    Portion
                                </div>
                                
                                <div class="col-xs-5">
                                    Description
                                </div>
                                
                                <div class="col-xs-2">
                                    Cal.
                                </div>
                            </li>
                            
                            <li class="serving row" ng-repeat="serving in food.servings" ng-class-even="'list-alt'">
                                <div class="col-xs-5">
                                    <a href="{{serving.serving_url}}">
                                        <span class="fa fa-external-link"></span>
                                        {{serving.name}}
                                    </a>
                                </div>
                                
                                <div class="description col-xs-5">
                                    {{serving.description}}
                                </div>
                                
                                <div class="col-xs-2">
                                    {{serving.calories}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    
    <div class="syf-loader text-center" ng-hide="!isSearching">
        <div class="fa fa-circle-o-notch fa-spin fa-5x"></div>
    </div>
</div>