<div class="col-xs-12">
    <nav class="navbar" role="navigation">
        <div class="row">
            <ul class="nav navbar-nav exercise-links">
                <li>
                    <a href="#/exercise/pedometer" class="col-xs-12">
                        Pedometer
                    </a>
                </li>
                
                <li>
                    <a href="#/exercise/calorie-counter" class="col-xs-12">
                        Calorie Counter
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>