<div class="pedometer-wrapper">
    
    <div class="pedo-button" ng-click="ToggleTracking()">
        <button class="btn btn-lg btn-primary" ng-show="!Pedometer.isTracking()">
            Start!
        </button>
        
        <button class="btn btn-lg btn-warning" ng-show="Pedometer.isTracking()">
            Stop!
        </button>
    </div>
    
    <div class="row counters">
        <div class="col-md-3 counter-wrapper">
            <h3 class="counter">
                0
            </h3>
        </div>
        
        <div class="col-md-3 counter-wrapper">
            <h3 class="counter">
                0
            </h3>
        </div>
        
        <div class="col-md-3 counter-wrapper">
            <h3 class="counter">
                0
            </h3>
        </div>
        
        <div class="col-md-3 counter-wrapper">
            <h3 class="counter" id="tenths">
                0
            </h3>
        </div>
    </div>
    
    <div class="statistics">
        <div class="row calories-wrapper">
            <div class="col-md-8 label">
                <h4>Calories burned:</h4>
            </div>
            
            <div class="col-md-4 stat">
                <h4 id="calories">-</h4>
            </div>
        </div>
        
        <div class="row timer-wrapper">
            <div class="col-md-8 label">
                <h4>Time elapsed:</h4>
            </div>
            
            <div class="col-md-4 stat">
                <h4 id="timer">
                    {{Pedometer.getElapsedTime()}}
                </h4>
            </div>
        </div>
    </div>
    
    <!--
    <div class="calibrate-wrapper">
        <button type="button" class="btn btn-info" ng-click="Pedometer.setCalibrate()">Calibrate</button>
    </div>
    
    <table id="results">
        <tr>
            <th>X</th>
            <th>Y</th>
            <th>Z</th>
        </tr>
    </table>
    -->
</div>