form.login-wrapper {
  .warning {
    width: 80%;
    margin: 1em auto;
    background: #FFF;
    border: thick solid #ffff00;
    color: #000;
    text-align: center;
  }
  
  .actions {
    margin-top: 0.75em;
  }
}

#overlay-message {
  &.modal {
    width: 50%;
  }
  
  .syf-loader {
    padding: 1em;
  }
}

div.registration {
  form {
    margin-top: 1em;
    
    .page-1 {
      margin-right: 2em;
    }
    
    .page-2 {
      margin-left: 2em;
    }
  }
  
  .extra-space {
    margin-top: 0.5em;
  }
}