div.app-nav-wrapper {
  position: absolute;
  margin-left: -50%;
  
  nav.app-nav {
    font-size: 1.25em;
    
    li {
      padding: 0.5em;
      
      .fa {
        color: #FFF;
        padding-right: 0.25em;
      }
      
      &.hist-traversal {
        margin: 0;
        text-align: center;
      }
    }
  }
}
