@import "app-nav";

body {
  color: #FFF;
  background: rgb(00, 171, 239);
  overflow-x: hidden;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  
  a, button, img {
    &:active, &:focus {
      outline: 0;
    }
  }
  
  div.container-fluid {
    div.main-content .header-wrapper {
      text-align: center;
      margin-bottom: 0.75em;
      
      h3 {
        margin: 0.25em 0;
      }
      
      hr {
        margin: 0 auto;
        width: 80%;
        text-align: center;
        opacity: 75%;
        color: #FFF;
      }
    }
    
    ul {
      list-style: none;
      
      li {
        background: #FFF;
        
        &.list-alt {
          background: #efefef;
        }
        
        ul {
          margin-left: 0.15em;
          
          .list-alt {
            background: #b8eaff;
          }
        }
      }
    }
    
    ul.navbar-default {
      background: none;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      
      li {
        background: none;
      }
    }
    
    .syf-loader div {
      color: #FFF;
      margin: 0 auto;
    }
  }
}
