div.main-content {
  .dash-wrapper {
    .stats {
      //color: rgb(246, 99, 51);
      background: #FFF;
      margin: 0.25em 0.5em;
      text-align: center;
      padding: 0 0 0.25em;
      
      h3 {
        color: rgb(102, 189, 79);
        margin: 0.15em 0 0;
      }
      
      h5 {
        margin: 0 0 0.15em;
        color: #222222;
      }
    }
    
    .utilities {
      text-align: center;
      margin-top: 1em;
      
      .util {
        color: #FFF;
      }
      
      a.util:hover {
        color: lightgreen;
        text-decoration: none;
      }
    }
  }
}