form.login-wrapper {
  .vr {
    display: inline;
    height: 100%;
    width: 1px;
    border: 1px inset;
    margin: 5px;
    position: absolute;
    opacity: 0.35;
  }
  
  .actions {
    margin: 0.5em 0;
  }
  
  div.sso-wrapper {
    margin-left: -1.5em;
    background: none;
    
    a {
      margin-left: 1em;
      color: #FFF;
    }
    
    .facebook {
      background: #3b5998;
    }
    
    .twitter {
      background: #00aced;
    }
  }
}