.nutrition-wrapper {
  .search-input {
    width: 100%;
    text-align: center;
    outline: 0;
    
    input {
      width: 70%;
      color: #080808;
      margin: 0.5em 1em 0 0;
    }
    
    button {
      font-weight: 500;
      background: #EB8F2D;
    }
  }
  
  .results {
    color: #000;
    padding: 0.25em 0.1em;
    background: #FFF;
    list-style: none;
    
    .result {
      margin: 0.5em 0;
      
      .name-wrapper span.fa {
        margin: 10px 0;
      }
      
      .additional-details {
        border-top: thin solid #CCC;
        padding: 1em 0 0.5em;
        
        .description {
          padding: 0.5em;
        }
      }
    }
  }
}